html {
    background-color: rgb(240, 240, 240);
}

input[type=text],
textarea {
    border: 1px solid grey;
    border-radius: 5px;
    width: 250px;
}

textarea {
    height: 60px;
    max-width: 300px;
    max-height: 100px;
}

label {
    display: flex;
    align-items: center;
}

p {
    width: 235px;
}

input[type=submit] {
    margin: auto;
    width: 100px;
}

#div_global {
    display: flex;
}

#div_form {
    margin-left: 25px;
    height: 600px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}

#div_form:hover {
    height: 600px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    box-shadow: 10px 10px 20px 0px black;
}

#div_file {
    margin-left: 50px;
    height: 200px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}

#div_file:hover {
    margin-left: 50px;
    height: 200px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    box-shadow: 10px 10px 20px 0px black;
}

.form-add {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 550px;
    width: 450px;
    margin-left: 15px;
}

.form-file {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
    width: 450px;
    margin-left: 15px;
}

h2 {
    margin-left: 5px;
}

#div_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div_search_js {
    display: flex;
}

.div_radio {
    display: flex;
}

.result {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    margin: auto;
    width: 65%;
    margin-top: 15px;
}

.result-identity {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.result-diplomas {
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
}

.result-experience {
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
}

.result-competence {
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
}

.result-hobbies {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-bottom: 10px;
}

.p_result {
    font-style: italic;
    font-size: 15px;
    text-decoration: underline;
}

#profile_access {
    width: 200px;
}

.div_result {
    width: 65%;
}